---
layout: null
---
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">



    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    {% include "header.html" %}

    <main class="container">

      <section class="typing-section">
        <div class="typing-container">
          <h2 class="typing-text">3+ years of experience in software development...</h2>
        </div>
      </section>
      
      <section class="hero" id="top">
        {% include "photo.html" %}
      </section>

      <section class="section" id="projects">
        <div class="section__head">
          <h2>Projects</h2>
          <p>A selection of featured projects and experiments that showcase my development philosophy.</p>
        </div>

        <div class="grid-container">
          {% for p in projects %}
            {% include "project-card.html" %}
          {% endfor %}
        </div>
      </section>

      <section class="section" id="about">
        <div class="section__head">
          <h2>About</h2>
            <p>
              I specialize in crafting clean interfaces, reusable components, and robust, well-modeled backends. 
              My focus is on delivering projects defined by visual consistency, architectural clarity, 
              and highly maintainable code.
            </p>
        </div>
      </section>
    </main>

    {% include "footer.html" %}

    <script type="module" src="/js/main.js"></script>
  </body>
</html>
